---
import Meta from 'astro-meta'
import Layout from '../__layout.astro'
import './_prism.css'
import {readdirSync, readFileSync} from "node:fs"
import Komentar from './_komentar.svelte'

const {content} = Astro.props

let listFile = readdirSync("./src/pages/post/")
listFile = listFile.filter(x => x.includes(".md"))

let listFileBener = []

for (const x of listFile){
	if (readFileSync(`./src/pages/post/${x}`).includes(`kategori: ${content.kategori}`)){
		let judul = readFileSync(`./src/pages/post/${x}`, "utf8")
		judul = judul.replace(/judul\: (.+)/, "<<<<<$1>>>>>").replace(/\n/g, "").replace(/\r/g, "").replace(/.+<<<<</, "").replace(/>>>>>.+/, "")
		listFileBener.push({
			url: x,
			judul
		})
	}
}

const site = Astro.site.origin
const request = Astro.request
---

<Layout>
	<Meta title={content.judul} description={`Membahas '${content.judul}' di kelas ${content.kategori}`} slot='head'></Meta>
	
	<div slot='body' class='latar'>
		<div class='materi'>
			<p><a href='/'>Kelas {content.kategori}</a></p>
			<ul>
				{listFileBener.map(x => <li>
					<a href={`/post/${x.url.replace(".md", "")}`} class={String(request.url).includes(x.url.replace(".md", "")) ? 'active' : ''}>{x.judul}</a>
				</li>)}
			</ul>
		</div>

		<div class='kertas pertama'>
			<h1>{content.judul}</h1>
			<hr>
			<div class="isi">
				<slot></slot>
			</div>

			<a class="edit" href={String(request.canonicalURL).replace("https://belajarpemrograman.my.id", "https://github.com/mzaini30/belajar-pemrograman/blob/master/src/pages").replace(/\/$/, ".md")}>Edit this page</a>

			<Komentar client:visible></Komentar>

		</div>

		<div class='kertas lainnya'>
			<h2>Tulisan Lainnya:</h2>
			<hr>
			<ul>
				<li><a href="/">BERANDA</a></li>
				{listFileBener.map(x => <li>
					<a href={`/post/${x.url.replace(".md", "")}`} class={String(request.url).includes(x.url.replace(".md", "")) ? 'active-lainnya' : ''}>{x.judul}</a>
				</li>)}
			</ul>
		</div>
	</div>
</Layout>

<style>
	.latar {
		@apply min-h-screen bg-blue-200 flex <md:block;
	}
	.kertas {
		@apply bg-white w-[50%] shadow-xl p-4 m-10 mx-auto <md:(w-[90%] my-0);
	}
	.pertama {
		@apply mb-[5vw];
	}
	.lainnya {
		@apply hidden <md:block;
	}
	.lainnya a {
		@apply <md:underline
	}
	.lainnya li {
		@apply <md:(list-disc ml-4 pb-2)
	}
	.materi {
		@apply w-[20%] bg-white sticky top-0 h-screen <md:hidden;
	}
	.materi a {
		@apply block p-2 hover:bg-violet-200 text-sm;
	}
	.materi p {
		@apply text-center border-b;
		/*font-family: 'Comic Sans MS';*/
	}
	.materi p a {
		@apply hover:bg-transparent p-3 text-lg text-green-700;
	}
	.active {
		@apply bg-violet-200
	}
	h1 {
		@apply text-3xl
	}
	hr {
		@apply my-3
	}
	.isi :global(h1, h2, h3, h4, h5, h6){
		@apply !mb-3
	}
	.isi :global(img){
		@apply block mx-auto
	}
	.isi :global(code){
		@apply text-red-500
	}
	.isi :global(a){
		@apply !text-blue-500
	}
	.isi :global(blockquote){
		@apply mx-0 italic
	}
	.active-lainnya {
		@apply text-green-500
	}
	.isi :global(p, .embedPastebin){
		@apply !mb-3
	}
	.edit {
		@apply px-3 py-1 bg-pink-100 text-pink-500 border border-pink-500 rounded-xl mb-2 inline-block
	}
	:global(table){
		@apply mb-3
	}
	:global(th, td) {
		@apply border border-blue-500 px-4 py-1
	}
	.isi :global(h1, h2, h3, h4, h5, h6){
		font-weight: inherit;
	}
	.isi :global(h2){
		@apply text-2xl text-violet-500
	}
	.isi :global(h3){
		@apply text-xl text-green-700
	}
	.isi :global(h4){
		@apply text-lg text-blue-500
	}
</style>

<style global>
	@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

	.komentar .semua {
		@apply pb-3
	}

	.komentar textarea {
		@apply block
	}

	.komentar .judul {
		@apply text-3xl italic mt-3 mb-2;
		font-family: 'Dancing Script', cursive;
	}

	.komentar .input {
		@apply focus:outline-none rounded border border-yellow-700 w-full p-1 px-2;
	}

	.komentar .submit {
		@apply my-3 bg-green-500 rounded px-3 py-1 text-white cursor-pointer
	}

	.komentar li {
		@apply list-decimal ml-5
	}

	.komentar a {
		@apply text-green-700
	}
	.token.prefix.inserted {
		@apply select-none
	}
</style>