---
import Meta from 'astro-meta'
import Layout from '../__layout.astro'
import './_prism.css'

const {content} = Astro.props

const site = Astro.site.origin

let semuaTulisan = await fetch(`${site}/semua`).then(x => x.text())
// semuaTulisan = semuaTulisan.replace(`<html lang="\\&quot;en\\&quot;"><head></head><body>`, '').replace(`</policy></policy></body></html>`, '').replace(/"\\&quot;/g, '').replace(/\\&quot;"/g, '').replace(`" initial-scale="`, '')
semuaTulisan = semuaTulisan.replace(/.+(\[\{\")/, '$1').replace(/(\"\}\]).+/, '$1').replace(/"\\&quot;/g, '').replace(/\\&quot;"/g, '').replace(`" initial-scale="`, '')
semuaTulisan = JSON.parse(semuaTulisan)
semuaTulisan = semuaTulisan.filter(x => x.kategori == content.kategori)
---

<Layout>
	<Meta title={content.judul} description={`Membahas '${content.judul}' di kelas ${content.kategori}`} slot='head'></Meta>
	
	<div slot='body' class='latar'>
		<div class='materi'>
			<p><a href="/">Belajar Pemrograman</a></p>
			<ul>
				{semuaTulisan.map(x => <li>
					<a href={x.url} class={String(Astro.request.url).includes(x.url) ? 'active' : ''}>{x.judul}</a>
				</li>)}
			</ul>
		</div>

		<div class='kertas pertama'>
			<h1>{content.judul}</h1>
			<hr>
			<slot></slot>

<script src="https://giscus.app/client.js"
        data-repo="mzaini30/belajar-pemrograman"
        data-repo-id="MDEwOlJlcG9zaXRvcnkzMTk3OTI3ODk="
        data-category="Announcements"
        data-category-id="DIC_kwDOEw-mlc4B_X7z"
        data-mapping="pathname"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-theme="light"
        crossorigin="anonymous"
async></script>

		</div>

		<div class='kertas lainnya'>
			<h2>Tulisan Lainnya:</h2>
			<hr>
			<ul>
				<li><a href="/">BERANDA</a></li>
				{semuaTulisan.map(x => <li>
					<a href={x.url}>{x.judul}</a>
				</li>)}
			</ul>
		</div>
	</div>
</Layout>

<style>
	.latar {
		@apply min-h-screen bg-blue-200 flex <md:block;
	}
	.kertas {
		@apply bg-white w-[50%] shadow-xl p-4 m-10 mx-auto <md:(w-[90%] my-0);
	}
	.pertama {
		@apply mb-[5vw];
	}
	.lainnya {
		@apply hidden <md:block;
	}
	.lainnya a {
		@apply <md:(underline underline-green-500)
	}
	.lainnya li {
		@apply <md:(list-disc list-inside pb-2)
	}
	.materi {
		@apply w-[20%] bg-white sticky top-0 h-screen <md:hidden;
	}
	.materi a {
		@apply block p-2 hover:bg-violet-200 text-sm;
	}
	.materi p {
		@apply text-center border-b;
		font-family: 'Comic Sans MS';
	}
	.materi p a {
		@apply hover:bg-transparent p-3 text-lg text-green-700;
	}
	.active {
		@apply bg-violet-200
	}
	h1, h2 {
		@apply text-3xl
	}
	hr {
		@apply my-3
	}
	:global(h1, h2, h3, h4, h5, h6){
		@apply text-violet-600
	}
	:global(code){
		@apply text-red-500
	}
	:global(a){
		@apply !text-blue-500
	}
	:global(blockquote){
		@apply mx-0 italic
	}
</style>
